/*Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;1,600&family=Permanent+Marker&family=Public+Sans:wght@400;500;600;700&display=swap');

* {
    font-family: "Noto Sans";
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root {
    --main-color: orangered;
    --text-color: rgb(37, 36, 36);
    --back-color: #fff;
}

img {
    width: 100%;

}

body {
    color: var(--text-color);
}

/*HEADER*/

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--back-color);
    position: fixed;
    box-shadow: 0 1px 4px;
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--main-color);


}

#cart-icon {
    font-size: 1.8rem;
    cursor: pointer;
}

/*Shop Section*/

section {
    padding: 4rem 0 3rem;
}

.title {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.5rem;
}

/*CONTENT*/

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1rem;
}

.product-box {
    position: relative;
   
}

.product-box:hover {
    padding: 10px; 
    transition: 0.4s;
}

.product-img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.product-name {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.price {
    font-weight: 500;

}

.add-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    color: var(--back-color);
    background-color: var(--text-color);
    padding: 5px;
}

.add-cart:hover {
    background-color: var(--main-color);
}