/*Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;1,600&family=Permanent+Marker&family=Public+Sans:wght@400;500;600;700&display=swap');

* {
    font-family: "Noto Sans";
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root {
    --main-color: orangered;
    --text-color: rgb(37, 36, 36);
    --back-color: #fff;
}

img {
    width: 100%;

}

body {
    color: var(--text-color);
}

/*HEADER*/

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--back-color);
    position: fixed;
    box-shadow: 0 1px 4px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--main-color);


}

#cart-icon {
    font-size: 1.8rem;
    cursor: pointer;
}